{% extends 'base.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-1">Bienvenue !</h1>
		<h3 class="display-3">Derniers articles :</h3>
		{% for article in last_articles %}
			<p>{{ article.title }}</p>
		{% endfor %}
	</div>
{% endblock %}
